/* HEADER */

/* RESEP INTRO */

/* BAHAN */

/* CARA MEMBUAT */

/* HASIl */

  .style3 {font-family: Verdana;}
  .style6 {font-size: 18px;
           font-family: Courier;
           }
body{
    background: #ffffff;
           }

/* FOOTER  */
